* {
    font-size: 16px;
    margin: 0;
    padding: 0;
    text-align: center;
    font-family: Overpass;
}

body {
    background-color: rgb(20, 21, 25);
}

.rating-title, .thanks-title {
    color: rgb(255, 255, 255);
    font-size: 20px;
}

.rating-title {
    margin: 15px auto;
}

.thanks-title {
    margin: auto;
}

.rating-instruction, .thanks-instruction {
    color:rgba(255, 255, 255, 60%);
    font-size: 10px;
}

.rating-instruction {
    line-height: 16px;
    margin: 10px auto;
}

.thanks-instruction {
    margin: auto;
}

.rating-title, .rating-instruction {
    text-align: left;
}

.attribution { 
    font-size: 11px; text-align: center; 
}
.attribution a { 
    color: hsl(228, 45%, 44%); 
}

.inline {
    display: inline;
}

.bold {
    font-weight: 700;
}

.rating-card, .thanks-card {
    background: linear-gradient(rgb(33, 40, 50), rgb(23, 30, 40));
    aspect-ratio: 1 / 1;
    min-width: 315px;
    max-width: 1380px;

    border-radius: 10%;
    margin: 10vh 10vw;
    padding: 30px; 
}

.star-img-holder {
    display: block;
}

.rating li,  .star-img-holder{
    color: rgb(101, 109, 119);
    background-color: rgb(38, 47, 54);
    width: 15px;
    height: 15px;
    padding: 10px;
    border-radius: 50%;
}

.star-img {
    width: 100%;
    height: 100%;
}

.rating {
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 20px auto;
}

.rating li {
    color:rgb(101, 109, 119);
    font-size: 12px;
}

.btn {
    width: 100%;
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 500;
    letter-spacing: 2px;
    color: rgb(255, 255, 255);
    background-color: rgb(251, 116, 19);
    border: none;
    border-radius: 10% / 50%;
    padding: 7px;
    margin: 3px auto;
}

.btn:hover {
    background-color: rgb(255, 255, 255);
    color: rgb(251, 116, 19);
}

.hidden {
    display: none;
}

.thank-you-img {
    width: 50%;
    
}